import sys

with open("tmp.fifo") as f:
    {%- if arg_n %}
    for line in f:
        L = line
        _ = L
        {{ arg_e }}
    {%- else %}
    line = f.read()
    L = line
    _ = L
    {{ arg_e }}
    {%- endif %}
